body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* top navigation bar */
.topnavbar {
    background-color: #fff;
    height:80px;
    line-height: 80px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding-left: 120px;
    padding-right: 30px;
    z-index: 1;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    color: #000;
}

.topnavbar a.active {
    color: #8c7642;
}

/* For vertical centered */
.block {
    text-align: center;
    font-size: 0;
}

.block::before {
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

/* top-image block */
.top-block {
    height: 500px;
    margin-top: 80px;
    padding-bottom: 200px;
}

.top-image {
    background-image: url(../images/image3.png);
    background-attachment: fixed;
    background-position-y: -300px;
    right: 0;
    left: 0;
}

/* golden flower card */
.gold-block {
    background-image: url(../images/flower.png);
    background-position-x: -22px;
    background-position-y: -10px;
    width: 380px;
    height: 550px;
}

.gold-block .title {
    position: relative;
    top: 80px;
    text-align: center;
    margin: 0px 60px;
}

.gold-block .description {
    position: relative;
    top: 160px;
    text-align: center;
}

.gold-block .button {
    position: relative;
    top: 200px;
    text-align: center;
    border: 1px solid;
    margin: 0px 60px;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.arr {
    line-height: 270px;
    height: 270px;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.testimonial-block {
    text-align: center;
}

.inline-block { 
    display: inline-block;
    vertical-align: middle;
}

.img-block {
    background-image: url(../images/image2.png);
    background-attachment: fixed;
    height: 670px;
    margin: 60px;
}

.gallery-block {
    margin: 60px;
}

footer {
    margin: 60px;
    margin-top:120px;
    background-color: #fff;
}

.footer-block {
    height: 200px;
    padding: 0px 60px;
    background-color: #af9453;
}

.footer-block p {
    display: inline-block;
    padding: 0px 15px;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
}

.vl {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    border-left: 1px solid;
    height: 72px;
}

.footer-block .button {
    border: 1px solid;
    padding: 10px;
    height: 30px;
    line-height: 30px;
}

.border-right {
    border-right: 1px solid;
}


.fs-l {
    font-size: 55px;
}

.fs-m {
    font-size: 32px;
}

.fs-ms {
    font-size: 24px;
}

.fs-s {
    font-size: 16px;
}

.l-space-l {
    letter-spacing: 10px;
}

.l-space-s {
    letter-spacing: 5px;
}

.bold {
    font-weight: bold;
}

.white {
    color: #fff;
}

.gold {
    color: #af9453;
}

.black {
    color: #000;
}

.ff-serif {
    font-family: 'EB Garamond', serif;
}

.ff-rozha {
    font-family: 'Rozha One', serif;
}

.right {
    float: right;
}
